body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background: white;
    padding: 20px 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 300px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-section {
    display: flex;
    margin-bottom: 20px;
}
#new-task {
    flex: 1;
    padding: 10px;
    border: 1px solid #dddd;
    border-radius: 3px;
}

#add-task {
    padding: 10px;
    background: #4df875;
    color: white;
    border: none;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;

}
#add-task:hover {
    background-color: #218838;

}
ul {
    list-style: none;
    padding: 0;
}

li {
    background: #f9f9f9;
    padding: 10px;
    border: 1px solid #dddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

li.completed {
    text-decoration: line-through;
    color: #999;
}

.remove-task {
    background: #dc3545;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}

.remove-task:hover {
    background-color: #c82333;
}